body {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(209, 236, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 10vh;
}
.card {
    width: 90vw;
    height: 70vh;
    max-height: 90vw;
    margin: 0 auto;
    text-align: center;
    line-height: 3.0vh;
    font-size: 3.1vh;
    cursor: pointer;
    transition: transform 0.6s, width 0.5s;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card div {
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card p {
    margin: 10px 20px 20px 20px; /*because the flex auto stuff looks like crap*/
}
.card .front {
    background-color: lightblue;
    box-shadow: 4px 4px 0px 3px rgba(31, 114, 145, 0.9); /* none|h-offset v-offset blur spread color |inset|initial|inherit; */
}
.card .back {
    background-color: lightsalmon;
    box-shadow: 4px 4px 0px 3px rgba(145, 31, 31, 0.9); /* none|h-offset v-offset blur spread color |inset|initial|inherit; */
    transform: rotateY(180deg);
}
.card.is-flipped {
    transform: rotateY(180deg);
}
.card:hover {
    width: 87vw;
}
.small-text {
    font-size: 2vh;
    margin-top: 4vh !important;
    font-family: Arial, Helvetica, sans-serif;
}
.infinitive {
    font-size: 5.5vh;
    line-height: 5.5vh;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}
.buttons {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.buttons > * {
    /* CSS properties here will apply to every child inside a div with the class 'buttons' */
    /* Remove default browser styles */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Other styles */
    color: rgb(31, 114, 145); /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 2.5vh;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    border: none; /* No border */
    border-radius: 5px;
    box-shadow: 3px 3px 0px 2px rgba(31, 114, 145, 0.9); /* none|h-offset v-offset blur spread color |inset|initial|inherit; */
    transition: box-shadow .3s;
    position: relative;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
    background-color: lightblue;
}
.buttons > *:hover {
    box-shadow: 1px 1px 0px 1px rgba(31, 114, 145, 0.9); /* none|h-offset v-offset blur spread color |inset|initial|inherit; */
}
#nextButton{
    font-size: 4vh;
}
#lineNumber {
    width: 70px;
}
.popup {
    display: none; 
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 50%; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer;
}
